@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+SAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Playwrite+DE+SAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

:root {
    --smoky-black: #0f0606ff;
    --licorice: #200b0bff;
    --black-bean: #2f0000ff;
    --black-bean-2: #490000ff;
    --blood-red: #650000ff;

}

body {
    background-color: var(--smoky-black);
    color: #FFF;
    background-image: url(./bilder/gregbackground.jpg);
}

.kontainer {
    width: 700px;
    padding: 30px;
    margin: auto;
    font-family: sans-serif;
background-color: var(--smoky-black);
border-radius: 75px;
}

h1 {
    font-family: font-family: "Playwrite DE SAS", cursive;
    ;
    font-size: 80px;
    text-align: center;
    margin-bottom: 30px;

}

h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid var(--blood-red);

}

p.boxtext {
   border: 2px solid var(--blood-red);
   margin-bottom: 30px;
}

div.box {}

.kontainer2 {
    display: flex;

}

p.boxtext2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid var(--blood-red);
    padding: 2px;
}

img {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
img.nedre{
    display: block;
    margin: auto;
    margin-bottom: 5px;
    height: 87px;
}
a{
    text-decoration: none;
    color: red;
}